{
  "m.homeserver": {
    "base_url": "https://matrix.kogler.si",
    "server_name": "kogler.si"
  },
  "default_server_config": {
    "m.homeserver": {
      "base_url": "https://matrix.kogler.si",
      "server_name": "kogler.si"
    }
  },
  "disable_custom_urls": true,
  "disable_guests": true,
  "brand": "Kogler Matrix"
}
