# Aktivira se ob zagonu
auto lo
iface lo inet loopback

# Fizični vmesnik (brez IP naslova, ker ga prevzame most vmbr0)
iface eth0 inet manual

# JAVNI MOST (Dostop do interneta in Proxmoxa)
auto vmbr0
iface vmbr0 inet static
        address 188.245.71.244/32
        gateway 172.31.1.1
        bridge-ports eth0
        bridge-stp off
        bridge-fd 0
        # Hetzner zahteva specifično usmerjanje za prehod, ko je maska /32
        pointopoint 172.31.1.1

# PRIVATNI IZOLIRANI MOST (Interni LAN za Authentik, Immich, Pangolin)
auto vmbr1
iface vmbr1 inet static
        address 10.0.0.1/24
        bridge-ports none
        bridge-stp off
        bridge-fd 0
        
        # NAT Pravila: Omogoča napravam na 10.0.0.0/24 odhodni dostop do interneta preko vmbr0
        post-up   iptables -t nat -A POSTROUTING -s '10.0.0.0/24' -o vmbr0 -j MASQUERADE
        post-down iptables -t nat -D POSTROUTING -s '10.0.0.0/24' -o vmbr0 -j MASQUERADE
